<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div class="container">
            <h1>todo list</h1>

            <input type="text" placeholder="inserisci testo" v-model="newTask">
            <button @click="addTask">Submit</button>

            <div class="list_items">
                <span>Done: {{done}} <i class="fa-regular fa-circle-check"></i></span>
                <span>To do: {{notDone}} <i class="fa-solid fa-exclamation"></i></span>
                <span>Clean up <i class="fa-solid fa-trash" @click="cleanNumber"></i></span>
                <ul>
                    <li v-for="(item,index) in tasks">{{item}} 
                        <i class="fa-solid fa-circle-xmark" @click="removeTask(index)"></i>
                        <i class="fa-regular fa-circle-check" @click="completedTask(index)"></i>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/app.js"></script>
</body>
</html>